*{
    border-radius: 5px;
}
body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Red Hat Display";
    margin:0;
    padding: 0;
    font-size: 14px;
}

body p{
    
}
#main{
    display:flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 300px;
    width:20%;
    margin:10% auto;
    text-align: center;
    background-color: white;
    border: 0.01em solid black;
}
#main img{
    border-radius:5px 5px 0px 0px;
    width: 100%;
}
#the-rest{
    padding:0% 10%;
}
#plan img{
    object-fit: scale-down;
}
#plan{
    display:flex;
}
#text{
    font-size: 12px;
    margin:0;
    padding:0;
    white-space: nowrap;
    margin-right: auto;
}
#plan a{
    text-align: center;
    margin-left: auto;
}
footer{
    position: absolute;
    bottom: 0;
}